* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    .team-heading {
        background-color: #197278;
        margin: 7px;
        height: 110px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: aliceblue;
        font-size: 25px;
        font-weight: 1000;
        border-radius: 15px;
    }

    .employee-card {
        margin: 15px;
        border-radius: 20px;
    }

    .card-header {
        background-color: #197278;
        border-radius: 15px;
        color: aliceblue;
    }